* {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

html {
    height: 100%;
    min-height: 500px;
}

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    background: rgba(51, 51, 51, 1);
    color: #eee;
    margin: 0 10px 0 10px;
    padding-left:5%;
    padding-right:5%;
    font-size: 12pt;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-auto-rows: 20% 70% 10%;
    height: max-content;
}

.pageTop {
    display: grid;
    grid-template-columns: 50% 50%;
    height: max-content;
    padding: 2% 0 2% 0;
}

.title {
    font-size: 3vw;
    align-self: center;
}

.username {
    align-self: center;
    justify-self: right;    
}

#usernameBox {
    background-color: transparent;
    color: #eee;
    border: none;
    font-family: 'Karla', sans-serif;
    font-size: 1vw;
    cursor: default;
    padding: 2px;
    text-align: end;
    overflow: hidden;
    white-space: nowrap;
}

#usernameButton {
    font-size: 1vw;
    background-color: transparent;
    color: #eee;
    border: none;
    padding: 2.5px;
    cursor: pointer;
    text-decoration: underline;
    display: initial;
}

.pageBody {
    display: grid;
    height: max-content;
}

.tableHeading {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 1.5vw;
    padding: 1% 20% 1% 2px;
    align-content: flex-end;
}

.timePeriodDD {
    height: 100%;
    width: 100%;
    font-size: 1.2vw;
}

.timePeriodDDButton {
    display: grid;
    height: 100%;
    justify-content: end;
    align-content: flex-end;
    cursor: pointer;
}

.timePeriodDDContent {
    position: absolute;
    display: none;
    z-index: 1;
    width: 14%;
    padding: 5px 5px 5px 0;
    text-align: end;
    background-color: rgba(51, 51, 51, 1);
    border: 5px solid rgba(51, 51, 51, 1);
    box-shadow: 0 0 30px #222;
}

.timePeriodDD:hover .timePeriodDDContent {
    display: grid;
}

.timePeriodDDContent p {
    cursor: pointer;
}

.timePeriodDDContent p:hover {
    font-weight: bold;
}

.table {
    font-size: 1vw;
    width: 80%; 
    white-space: nowrap;
    overflow: hidden;
}

.table tr:nth-child(odd) {
    background: rgba(23, 23, 23, 1);
}

td {
    padding: 1px;
}

#table2 td:nth-child(even) {
    width: 30%;
}

.pageBottom {
    display: grid;
    justify-self: center;
    align-self: center;
    height: max-content;
}